PySide6==6.7.2
python-dotenv==1.0.1
requests==2.32.3
beautifulsoup4==4.12.3
APScheduler==3.10.4
firebase-admin==6.5.0
pygments==2.18.0
openai==1.43.0
PyInstaller==6.10.0

fastapi==0.115.6
uvicorn==0.32.1
pydantic==2.10.3
